table {
    text-align: center;
    border-spacing: 3px;   
}

table, th, td{
    border: 1px solid black;
}


.form-elem label:first-child{
    display: block;
    margin: 10px 0px;
}

.form-elem label:last-child{
    margin-left: 20px;
}

.form-buttons{
    margin-top: 20px;
}

/* form label{
    display: block;
    margin: 2px;
} */


/* .main-table{
    border: 2px solid ;
}
*/
.nested-table{
    width: 100%;
} 

td{
    padding: 8px;
}
